<div class="artist-card">
  <img src={{this.image}} alt="">
  <div class="artist-footer">
    <h1>{{this.name}}</h1>
    <div class="album-btn"><a href="/albums/{{this.id}}">View albums</a></div>
  </div>
</div>